@model ShoppingCartModel
@{
    Layout = "_ColumnsOne";

    //title
    Html.AddTitleParts(T("PageTitle.ShoppingCart").Text);
    //page class
    Html.AppendPageCssClassParts("html-shopping-cart-page mobile-layout");
}
@if (!Model.OnePageCheckoutEnabled)
{
    @await Component.InvokeAsync("CheckoutProgress", new { step = CheckoutProgressStep.Cart })
}

<div class="mobile-top h-lg">
    <h2>Carrito</h2><a href="/">X</a>
</div>


<div class="page shopping-cart-page">
    <div class="page-title mb-h">
        @*<h1>@T("ShoppingCart")</h1>*@
        <h1>$ @Model.Items.Sum(item => Convert.ToDecimal(item.Quantity) * Convert.ToDecimal(item.UnitPrice.Replace("$", ""))).ToString("N2")</h1>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync("OrderSummary", new { overriddenModel = Model })
    </div>
</div>
