@{
    Layout = "_Root.Head";
}
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyStartHtmlTagAfter })
@await Html.PartialAsync("_Notifications")
@await Html.PartialAsync("_JavaScriptDisabledWarning")
@await Html.PartialAsync("_OldInternetExplorerWarning")
<div class="master-wrapper-page">
    <div id="upper-page" style="display: flex; flex-direction: column; position: fixed; z-index: 99; background-color: white; width: 100vw; top: 0px; border-bottom-width: 2px; border-bottom-style: solid; border-bottom-color: black">
        @await Component.InvokeAsync("AdminHeaderLinks")

        @await Html.PartialAsync("_Header")
    </div>
    <script asp-location="Footer">
        var localized_data = {
            AjaxCartFailure: "@T("AjaxCart.Failure")"
        };
        AjaxCart.init(false, '.header-links .cart-qty', '.header-links .wishlist-qty', '#flyout-cart', localized_data);
    </script>
    @*<div class="header-menu">
            @await Component.InvokeAsync("TopMenu")
        </div>*@
    <div id="master-wrapper-cont" class="master-wrapper-content">
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentBefore })

        @if (IsSectionDefined("Breadcrumb"))
        {
            @RenderSection("Breadcrumb")
        }
        <div class="master-column-wrapper">
            @RenderBody()
        </div>
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ContentAfter })
    </div>
    @*@await Component.InvokeAsync("Footer")*@
    <script>
        window.onresize = setResize;
        setResize();
        function setResize() {
            if (window.innerWidth > 575) {
                try {
                    document.getElementById("logo-img").style.width = "10vw"
                } catch {
                    console.log("Error Size Logo")
                }
                try {
                    document.getElementById("shopping-cart-label").style.fontSize = "2vw"
                } catch {
                    console.log("Error Shoppin cart label")
                }
                try {
                    document.getElementById("shopping-cart-qty").style.fontSize = "2vw"
                } catch {
                    console.log("Error Shoppin cart quantity Font")
                }
                try {
                    document.getElementById("shopping-cart-qty").style.lineHeight = "7vh"
                } catch {
                    console.log("Error Shoppin cart quantity Line Height")
                }
                try {
                    document.getElementById("foot-low").style.padding = "1vh 0 1vh 0"
                } catch {
                    console.log("Error Footer")
                }      
            }
            else {
                try {
                    document.getElementById("logo-img").style.width = "30vw"
                } catch {
                    console.log("Error Size Logo 2")
                }
                try {
                    document.getElementById("shopping-cart-label").style.fontSize = "3vw"
                } catch {
                    console.log("Error Shoppin cart label 2")
                }
                try {
                    document.getElementById("shopping-cart-qty").style.fontSize = "3vw"
                } catch {
                    console.log("Error Shoppin cart quantity Font 2")
                }
                try {
                    document.getElementById("shopping-cart-qty").style.lineHeight = "3vh"
                } catch {
                    console.log("Error Shoppin cart quantity Line Height 2")
                }
                try {
                    document.getElementById("foot-low").style.padding = "2vh 0 2vh 0"
                } catch {
                    console.log("Error Footer 2")
                }      
            }
            var clientHeight = document.getElementById("upper-page").clientHeight;
            document.getElementById("master-wrapper-cont").style.top = (parseInt((clientHeight / window.innerHeight) * 100, 10) + 2) + "vh";
        }
    </script>

</div>
@await Component.InvokeAsync("EuCookieLaw")
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.BodyEndHtmlTagBefore })
