@model decimal[]
@{
    var resource = string.Empty;
    if(Model[1] > 100){
        resource = string.Format(T("Customer.SavePrice").Text, "<b id='customer-saving'>$" + Model[0] + "</b>") + "<span id='customer-buenfin' style='display: block'>+ $10 pesos de regalo</span>";
    } else {
        resource = string.Format(T("Customer.SavePrice").Text, "<b id='customer-saving'>$" + Model[0] + "</b>") + "<span id='customer-buenfin' style='display: none'>+ $10 pesos de regalo</span>";
    }
}
<div class="customer-saving">
    <span>@Html.Raw(resource)</span>
</div>

<script>
    function GetSavingTotal() {
        var postData = {};
        addAntiForgeryToken(postData);
        $.ajax({
            cache: false,
            type: "POST",
            data: postData,
            url: "@(Url.Action("GetTotalSaving", "CustomProduct"))",
            dataType: 'json',
            success: function (response) {
                console.log(response)
                if (response.totalCart > 100) {
                    $("#customer-saving").text("$" + response.totalSaving);
                    $("#customer-buenfin").show();
                }
                else {
                    $("#customer-saving").text("$" + response.totalSaving);
                    $("#customer-buenfin").hide();
                }
            },
            failure: function (response) {

            }
        });
    };
</script>