@model IList<ProductOverviewModel>
@inject Nop.Core.IStoreContext storeContext
    <div style="border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; justify-content: space-around; display: flex; padding: 2vh 0 2vh 0; margin-bottom: 5vh">
        <a class="button-1 search-box-button" href="/newproducts">NUEVOS PRODUCTOS</a>
        <a class="button-1 search-box-button" href="/curiosities">CURIOSIDADES NETA</a>
    </div>
    
    
    @if (Model.Count > 0)
    {
        if (ViewBag.RoyaltyMessage != null)
        {
            var store = storeContext.GetCurrentStore();
            if (store.Id == 49)
            {
                ViewBag.RoyaltyMessage = "2.5%";
            }
            else
            {
                ViewBag.RoyaltyMessage = "5%";
            }
            <div class="product-grid home-page-product-grid">
                <div class="title">
                    <strong>@ViewBag.RoyaltyMessage de descuento parejo para nuestros clientes los más neta!</strong>
                </div>
                <div class="item-grid">
                    <h1>Sabías que … todos nuestros clientes que acumulan $300 pesos o mas de compras a la semana se ganan un @ViewBag.RoyaltyMessage de descuento adicional en su compra diaria? Se nuestro cliente más neta y gánate este descuento especial!</h1>
                </div>
            </div>
        }
        else
        {
            if (Model.Where(v => v.MarkAsLoyalty).Any())
            {
                <div class="product-grid home-page-product-grid">
                    <div class="title">
                        <strong>Super promoción del día para nuestros clientes los más neta!</strong>
                    </div>
                    <h2>Acumula $300 pesos o mas de compras en la semana y entra a la super promo diaria! No te quedes sin este beneficio</h2>
                    <h2>El electrolit coco suero está a $8 con tu código!</h2>
                    <div class="item-grid">
                        @foreach (var item in Model.Where(v => v.MarkAsLoyalty))
                        {
                            <div class="item-box">
                                @await Html.PartialAsync("_ProductBox", item)
                            </div>
                        }
                    </div>
                </div>
            }
        }
        <div class="product-grid home-page-product-grid">
            <div class="title">
                <strong>@T("Homepage.Products")</strong>
            </div>
            <div class="item-grid">
                @foreach (var item in Model.Where(v => v.MarkAsNew).OrderBy(v => v.DisplayOrder))
                {
                    <div class="item-box">
                        @await Html.PartialAsync("_ProductBox", item)
                    </div>
                }
            </div>
        </div>
        <div class="product-grid home-page-product-grid">
            <div class="title">
                <strong>Nuestra oferta de precios bajos!</strong>
            </div>
            <div class="item-grid">
                @foreach (var item in Model.Where(v => !v.MarkAsNew).OrderBy(v => v.DisplayOrder))
                {
                    <div class="item-box">
                        @await Html.PartialAsync("_ProductBox", item)
                    </div>
                }
            </div>
        </div>
    }