@model IList<ProductOverviewModel>
@inject Nop.Core.IStoreContext storeContext
    <div style="border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; justify-content: space-around; display: flex; padding: 2vh 0 2vh 0; margin-bottom: 5vh">
        <a style="background-color: #4ab2f1; color: white;border-radius: 15px;padding: 2vh 3vw; margin: 0 2vw" href="/newproducts">Haz click aqui para nuevos productos</a>
        <a style="background-color: #4ab2f1; color: white; border-radius: 15px; padding: 2vh 3vw; margin: 0 2vw "  href="/curiosities">Haz click y descubre curiosidades neta</a>
    </div>
    
    
    @if (Model.Count > 0)
    {
        var store = storeContext.GetCurrentStore();
        ViewBag.RoyaltyMessage = null;
        if (ViewBag.RoyaltyMessage != null)
        {
            if (store.Id == 49)
            {
                ViewBag.RoyaltyMessage = "2.5%";
            }
            else
            {
                ViewBag.RoyaltyMessage = "5%";
            }
            <div class="product-grid home-page-product-grid">
                <div class="title">
                    <strong>@ViewBag.RoyaltyMessage de descuento parejo para nuestros clientes los más neta!</strong>
                </div>
                <div class="item-grid">
                    <h1>Sabías que … todos nuestros clientes que acumulan $300 pesos o mas de compras a la semana se ganan un @ViewBag.RoyaltyMessage de descuento adicional en su compra diaria? Se nuestro cliente más neta y gánate este descuento especial!</h1>
                </div>
            </div>
        }
        else
        {
            if (Model.Where(v => v.MarkAsLoyalty).Any())
            {
                <div class="product-grid home-page-product-grid">
                    <div class="title">
                        <strong>Super promoción del día para nuestros clientes los más neta!</strong>
                    </div>
                    <h2>Acumula $300 pesos o mas de compras en la semana y entra a la super promo diaria! No te quedes sin este beneficio</h2>
                    <h2>El electrolit coco suero está a $8 con tu código!</h2>
                    <div class="item-grid">
                        @foreach (var item in Model.Where(v => v.MarkAsLoyalty))
                        {
                            <div class="item-box">
                                @await Html.PartialAsync("_ProductBox", item)
                            </div>
                        }
                    </div>
                </div>
            }
        }
        <div class="product-grid home-page-product-grid">
            <div class="title">
                <strong>@T("Homepage.Products")</strong>
            </div>
            <div class="item-grid">
                @foreach (var item in Model.Where(v => v.MarkAsNew).OrderBy(v => v.DisplayOrder))
                {
                    @if (!string.IsNullOrWhiteSpace(item.Details.StockAvailability))
                    {
                        <div class="item-box">
                            @await Html.PartialAsync("_ProductBox", item)
                        </div>
                    }
                }
            </div>
        </div>
        <div class="product-grid home-page-product-grid">
            <div class="title">
                <strong>Nuestra oferta de precios bajos!</strong>
            </div>
            <div id="product_list" class="item-grid">          
                @{
                    foreach (var item in Model.Where(v => !v.MarkAsNew).OrderBy(v => v.DisplayOrder))
                    {
                        <div class="item-box">
                            @await Html.PartialAsync("_ProductBox", item)
                        </div>
                    }
                }
            </div>
        </div>
    }