@model Nop.Web.Models.Catalog.SearchModel
@inject Nop.Core.IStoreContext storeContext
    <div style="border-bottom-width: 1px; border-bottom-color: black; border-bottom-style: solid; justify-content: space-around; display: flex; padding: 2vh 0 2vh 0; margin-bottom: 5vh">
        <a style="background-color: #4ab2f1; color: white;border-radius: 15px;padding: 2vh 3vw; margin: 0 2vw" href="/newproducts">Haz click aqui para nuevos productos</a>
        <a style="background-color: #4ab2f1; color: white; border-radius: 15px; padding: 2vh 3vw; margin: 0 2vw "  href="/curiosities">Haz click y descubre curiosidades neta</a>
    </div>
    
    
    @if (Model.CatalogProductsModel.Products.Count > 0)
    {
        var store = storeContext.GetCurrentStore();
        if (store.Id == 165)
        {
            ViewBag.RoyaltyMessage = null;
        }
        if (ViewBag.RoyaltyMessage != null)
        {
            if (store.Id == 49)
            {
                ViewBag.RoyaltyMessage = "2.5%";
            }
            else
            {
                ViewBag.RoyaltyMessage = "5%";
            }
            <div class="product-grid home-page-product-grid">
                <div class="title">
                    <strong>@ViewBag.RoyaltyMessage de descuento parejo para nuestros clientes los más neta!</strong>
                </div>
                <div class="item-grid">
                    <h1>Sabías que … todos nuestros clientes que acumulan $300 pesos o mas de compras a la semana se ganan un @ViewBag.RoyaltyMessage de descuento adicional en su compra diaria? Se nuestro cliente más neta y gánate este descuento especial!</h1>
                </div>
            </div>
        }
        else
        {
            if (Model.CatalogProductsModel.Products.Where(v => v.MarkAsLoyalty).Any())
            {
                <div class="product-grid home-page-product-grid">
                    <div class="title">
                        <strong>Super promoción del día para nuestros clientes los más neta!</strong>
                    </div>
                    <h2>Acumula $300 pesos o mas de compras en la semana y entra a la super promo diaria! No te quedes sin este beneficio</h2>
                    <h2>El electrolit coco suero está a $8 con tu código!</h2>
                    <div class="item-grid">
                        @foreach (var item in Model.CatalogProductsModel.Products.Where(v => v.MarkAsLoyalty))
                        {
                            <div class="item-box">
                                @await Html.PartialAsync("_ProductBox", item)
                            </div>
                        }
                    </div>
                </div>
            }
        }
    }
    

        <div class="product-grid home-page-product-grid">
            <div class="title">
                <strong>@T("Homepage.Products")</strong>
            </div>
            <div class="item-grid">
            @foreach (var item in Model.CatalogProductsModel.Products.Where(v => v.MarkAsNew).OrderBy(v => v.DisplayOrder))
            {
                <div class="item-box">
                    @await Html.PartialAsync("_ProductBox", item)
                </div>
            }
            </div>
        </div>
    <div class="product-grid home-page-product-grid">
        <div class="title">
            <strong>Nuestra oferta de precios bajos!</strong>
        </div>
        @*Hide Order By and page size
        @await Html.PartialAsync("_CatalogSelectors", Model.CatalogProductsModel)
        @await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.ProductSearchPageBeforeResults })*@
        <div class="search-results">
            @{
                var catalogProductsViewData = new ViewDataDictionary(ViewData);
                catalogProductsViewData["fetchUrl"] = Html.Raw(Url.Action("SearchProducts", "Catalog"));
                var a = catalogProductsViewData;
            }
            @await Html.PartialAsync("_CatalogProductsHome", Model.CatalogProductsModel, catalogProductsViewData)
        </div>
    </div>
    <script>
        scroller();
        function scroller() {
            var queryString = window.location.search;
            var urlParams = new URLSearchParams(queryString);
            var current = urlParams.get('pagesize');
            var newHeight = document.querySelector(".master-wrapper-content").scrollHeight;
            var newWidth = document.querySelector(".master-wrapper-content").scrollWidth;
            var heightP = document.querySelector('.item-box').scrollHeight;
            var widthP = document.querySelector('.item-box').scrollWidth;
            var cantidadProductosFila = Math.floor((newWidth / widthP));
            var increment = 0;
            var end_sum= 1;
            if (current == 0 || current==null) {
                increment = 0;
                current =@Model.CatalogProductsModel.StartingProducts;
                end_sum = 0;
            }
            else {
                increment =@Model.CatalogProductsModel.Increment;
                current =@Model.CatalogProductsModel.Products.ToList().Count();
                end_sum = 1;
            }

            var product_Count_before = current - (increment);
            var filas_anteriores = Math.ceil((product_Count_before / cantidadProductosFila));
            var filas_actuales = Math.ceil((current / cantidadProductosFila));
            console.log("--------------------------------------------------------------------------------------------------------------------------------");
            var filas_a_restar = filas_actuales - filas_anteriores - end_sum;
            var fila_final = filas_actuales - filas_a_restar;
            if (current == 0 || current == null) {
                fila_final = 0;
            }
            //console.log("Estoy en la fila " + fila_final);
            console.log(newHeight);
            console.log(heightP * filas_a_restar);
            window.scrollTo(0, heightP * fila_final);
            console.log("--------------------------------------------------------------------------------------------------------------------------------");


        }
    </script>